/* h1 {
        color: red;
      } */
/* #head1 {
        color: red;
    } */
/* .heading {
      } */
/* .colo-red {
        color: red;
      } */
/* div h1 {
        font-size: 60px;
      } */
.heading,
#para1 {
  color: red;
  padding: 20px;
}
* {
  padding: 0;
  margin: 0;
}
table th {
  color: blue;
}
